body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color:aliceblue;
}

.calculatorbuttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px ;
}